html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px;
    background-image: url("../images/bananas.png");
}

.container {
    background-color: #ffffff;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
}

.card-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
